<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYT Science Best Sellers</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/details.css">
    <script src="https://kit.fontawesome.com/96d6f697fa.js" crossorigin="anonymous"></script>


</head>
<body>
    <header>
        <h1>New York Times <g class="r">®</g></h1>
        <div class="best">
            <h2 class="sellers">Best Sellers</h2>
        </div>
        <div>
            <h3>Combined Print & E-Book Nonfiction</h3>
        </div>
    </header>

    <div class="boton">
        <button class="button"><i class="fa-solid fa-angle-left"></i> BACK TO INDEX</button>
    </div>
    <br>

    <div class="padre">
        <div class="caja">
            <h4>#1 NOT MY FATHER´S SON</h4>
            <img src="/assets/9781668001226.jpg" alt="portada del libro"> 
            <p class="titulo">Weeks on list: 2</p>
            <p class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque quo quis, qui suscipit mollitia a quia sit magnam cupiditate in laborum eos culpa rerum asperiores. At voluptatem natus iste sapiente.</p>
            <button class="buyButton">BUY AT AMAZON <i class="fa-regular fa-circle-play"></i></button> 
        </div>

        <div class="caja">
            <h4>#1 NOT MY FATHER´S SON</h4>
            <img src="/assets/9781668001226.jpg" alt="portada del libro"> 
            <p class="titulo">Weeks on list: 2</p>
            <p class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque quo quis, qui suscipit mollitia a quia sit magnam cupiditate in laborum eos culpa rerum asperiores. At voluptatem natus iste sapiente.</p>
            <button class="buyButton">BUY AT AMAZON <i class="fa-regular fa-circle-play"></i></button> 
        </div>

        <div class="caja">
            <h4>#1 NOT MY FATHER´S SON</h4>
            <img src="/assets/9781668001226.jpg" alt="portada del libro"> 
            <p class="titulo">Weeks on list: 2</p>
            <p class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque quo quis, qui suscipit mollitia a quia sit magnam cupiditate in laborum eos culpa rerum asperiores. At voluptatem natus iste sapiente.</p>
            <button class="buyButton">BUY AT AMAZON <i class="fa-regular fa-circle-play"></i></button> 
        </div>

        <div class="caja">
            <h4>#1 NOT MY FATHER´S SON</h4>
            <img src="/assets/9781668001226.jpg" alt="portada del libro"> 
            <p class="titulo">Weeks on list: 2</p>
            <p class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque quo quis, qui suscipit mollitia a quia sit magnam cupiditate in laborum eos culpa rerum asperiores. At voluptatem natus iste sapiente.</p>
            <button class="buyButton">BUY AT AMAZON <i class="fa-regular fa-circle-play"></i></button> 
        </div>  
    <script src="/services/index.js"></script>
    <script src="/services/api.js" ></script>
</body>
</html>