<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Users/SergioIglesias/Desktop/finalProject copia/styles/dashboard.css">
    <script defer src="/services/api.js"></script>
    <script defer src="/services/index.js"></script>
    <link rel="stylesheet" href="/Users/SergioIglesias/Desktop/finalProject copia/styles/reset.css">
    <link rel="stylesheet" href="/Users/SergioIglesias/Desktop/finalProject copia/styles/dashboard.css">
</head>
<body>
    <header>
        <h1>New York Times <g class="r">®</g></h1>
            <div class="best">
                <h2 class="sellers">Best Sellers</h2>
            </div>
        </header>
<div class="container" id="container">
</div>
<div id="head">
    <h1>New York Times <br><span>Best Sellers in Science</span></h1>
    </div>
    <div class="modulo">
        <h3>Conviertete en un "Pro-Player"</h3>
        <p>🔝 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora eligendi aut nihil ex iste, voluptas, eveniet unde recusandae vitae quo veritatis nemo doloribus. Aut quis, quae id natus dicta maxime.</p>
        <button>+ Info</button>

        </div>

    <div id='book-card'></div>
    
<!--    <div class="paginacion">
		<button id="btnAnterior">Previous</button>
		<button id="btnSiguiente">Next</button>
	</div>-->


</body>
</html>