* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    padding-left: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #aaaaaa;
}

.best{
    background-color: black;
    max-width: 50%;
}

.sellers{
    text-align: right;
    padding-right: 15px;
    font-size: 80px;
    font-family: impact;
    color: white;
    }

h1{
    font-size: 2em;
    font-family: namata medium; 
    padding-top: 10px;
    font-weight: bolder;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #ffffff;
	color: #1d1d1d;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.boxes {
    height: 250px;
    width: 250px;
    margin: none;
    padding-left: 10px;
    box-shadow: 0 0 8px grey;
    font-family: araboto-normal;
}

span{
    font-size: 15px;
}

@media (max-width:414px){
    header{
    background-color: black;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 20px;
    }
}
.r{
    font-size: 20px;
}